# Data Science Tools and Ecosystem

## Author
Luigi Smarro

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Learn the names of popular languages used by Data Scientists
- Learn the names of some commonly used libraries by Data Scientists
- Learn the names of popular Data Science tools
- Get familiar with how Python can be used to evaluate arithmetic expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Apache Hadoop|

### Below are few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335